# Dependencies
node_modules/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/
coverage/

# Prisma cache
.prisma/
prisma/migrations/*

# Docker
docker-compose.override.yml
docker-compose.yml
Dockerfile
/generated/prisma

/generated/prisma

/generated/prisma
